<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.business.mapper.AirqMonthMapper">
    <resultMap id="AirqVO" type="org.jeecg.modules.business.vo.AirqVO">
        <result column="value" property="value" jdbcType="NUMERIC"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="findEvaluate" parameterType="String" resultMap="AirqVO">
        SELECT
        COUNT( 1 ) as value,
        airq_level.level_grade as name,	airq_level.`level` AS level
        FROM
        airq_level
        LEFT JOIN airq_month ON airq_month.`LEVEL` = airq_level.`level`
        WHERE
        airq_month.MN IN (${mns})
        <if test="timeStart != null and  timeEnd !=null">
            AND `MONTH` BETWEEN #{timeStart} AND #{timeEnd}
        </if>
        GROUP BY
        airq_month.`LEVEL`
        UNION all (select 0 as number ,level_grade,`level` from airq_level where level_grade not in (
        SELECT
        level_grade
        FROM
        airq_level
        LEFT JOIN airq_month ON airq_month.`LEVEL` = airq_level.`level`
        WHERE
        airq_month.MN IN (${mns})
        <if test="timeStart != null and  timeEnd !=null">
            AND `MONTH` BETWEEN #{timeStart} AND #{timeEnd}
        </if>
        GROUP BY
        airq_month.`LEVEL`
        ))
        ORDER BY level
    </select>

    <resultMap id="AirqMonthQualityVO" type="org.jeecg.modules.business.vo.AirqMonthQualityVO" >
        <result column="mn" property="mn" jdbcType="VARCHAR"/>
        <result column="area" property="area" jdbcType="VARCHAR"/>
        <result column="site_name" property="siteName" jdbcType="VARCHAR"/>
        <result column="total_i" property="totalI" jdbcType="DOUBLE"/>
        <result column="month" property="month" jdbcType="VARCHAR"/>
        <result column="first_code" property="firstCode" jdbcType="VARCHAR"/>
        <result column="meaning" property="meaning" jdbcType="VARCHAR"/>
        <result column="airLevel" property="airLevel" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="VARCHAR"/>
        <result column="A21026_avg" property="a21026Avg" jdbcType="DOUBLE"/>
        <result column="A21004_avg" property="a21004Avg" jdbcType="DOUBLE"/>
        <result column="A34002_avg" property="a34002Avg" jdbcType="DOUBLE"/>
        <result column="A21005_avg" property="a21005Avg" jdbcType="DOUBLE"/>
        <result column="A05024_avg" property="a05024Avg" jdbcType="DOUBLE"/>
        <result column="A34004_avg" property="a34004Avg" jdbcType="DOUBLE"/>
    </resultMap>
    <select id="queryAirqMonthQuality" resultMap="AirqMonthQualityVO">
        select  a.mn,a.site_name,b.`level` as airLevel,b.level,a.area,b.total_i,
        b.month,b.first_code,
        b.a21026_avg,b.a21004_avg,b.a34002_avg,
        b.a21005_avg,b.a05024_avg,b.a34004_avg

        from airq_month b
        <if test="searchTime == null or searchTime == ''">
            INNER JOIN(select a.mn,
            max(b.month) month
            from airq_month b  left join site_monitor_point a on b.mn = a.mn
            group by a.mn) c on b.mn = c.mn and b.month = c.month
        </if>
        left join site_monitor_point a on  b.mn = a.mn
        WHERE
        a.company_id in
        <foreach collection="companyIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        <if test="area != null">
            and a.area = (#{area})
        </if>
        <if test="mn != null">
            and a.mn = (#{mn})
        </if>
        <if test="searchTime != null and searchTime != '' ">
            and b.month between (#{startTime}) and (#{endTime})
        </if>
        order by b.month desc

    </select>
</mapper>