<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.business.mapper.AirqHourMapper">

    <resultMap id="AirSireInfo" type="org.jeecg.modules.business.vo.AirSiteInfo" >
        <result column="mn" property="mn" jdbcType="VARCHAR"/>
        <result column="online_status" property="onlineStatus" jdbcType="VARCHAR"/>
        <result column="device_status" property="deviceStatus" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="VARCHAR"/>
        <result column="site_longitude" property="siteLongitude" jdbcType="VARCHAR"/>
        <result column="site_latitude" property="siteLatitude" jdbcType="VARCHAR"/>
        <result column="company_id" property="companyId" jdbcType="VARCHAR"/>
        <result column="site_name" property="siteName" jdbcType="VARCHAR"/>
        <result column="aqi" property="aqi" jdbcType="DOUBLE"/>
        <result column="dataTime" property="dataTime" jdbcType="TIMESTAMP"/>
        <result column="first_code" property="firstCode" jdbcType="VARCHAR"/>
        <result column="A3400401_avg" property="a3400401Avg" jdbcType="DOUBLE"/>
        <result column="A3400201_avg" property="a3400201Avg" jdbcType="TIMESTAMP"/>
        <result column="A21026_avg" property="a21026Avg" jdbcType="DOUBLE"/>
        <result column="A21004_avg" property="a21004Avg" jdbcType="DOUBLE"/>
        <result column="A0502401_avg" property="a0502401Avg" jdbcType="DOUBLE"/>
        <result column="A0502408_avg" property="a0502408Avg" jdbcType="DOUBLE"/>
        <result column="A21005_avg" property="a21005Avg" jdbcType="DOUBLE"/>
        <result column="A01001_avg" property="a01001Avg" jdbcType="DOUBLE"/>
        <result column="A01002_avg" property="a01002Avg" jdbcType="DOUBLE"/>
        <result column="A01007_avg" property="a01007Avg" jdbcType="DOUBLE"/>
        <result column="A01006_avg" property="a01006Avg" jdbcType="DOUBLE"/>
        <result column="area" property="area" jdbcType="VARCHAR"/>
        <result column="a3400424_Avg" property="a3400424Avg" jdbcType="DOUBLE"/>
        <result column="a3400224_Avg" property="a3400224Avg" jdbcType="DOUBLE"/>
    </resultMap>
    <resultMap id="AirqHourQualityVo" type="org.jeecg.modules.business.vo.AirqHourQualityVo" >
        <result column="mn" property="mn" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="VARCHAR"/>
        <result column="company_id" property="companyId" jdbcType="VARCHAR"/>
        <result column="site_name" property="siteName" jdbcType="VARCHAR"/>
        <result column="aqi" property="aqi" jdbcType="VARCHAR"/>
        <result column="dataTime" property="dataTime" jdbcType="VARCHAR"/>
        <result column="first_code" property="firstCode" jdbcType="TIMESTAMP"/>
        <result column="A3400401_avg" property="a3400401Avg" jdbcType="DOUBLE"/>
        <result column="A3400201_avg" property="a3400201Avg" jdbcType="DOUBLE"/>
        <result column="A21026_avg" property="a21026Avg" jdbcType="DOUBLE"/>
        <result column="A21004_avg" property="a21004Avg" jdbcType="DOUBLE"/>
        <result column="A0502401_avg" property="a0502401Avg" jdbcType="DOUBLE"/>
        <result column="A0502408_avg" property="a0502408Avg" jdbcType="DOUBLE"/>
        <result column="A21005_avg" property="a21005Avg" jdbcType="DOUBLE"/>
        <result column="A01001_avg" property="a01001Avg" jdbcType="DOUBLE"/>
        <result column="A01002_avg" property="a01002Avg" jdbcType="DOUBLE"/>
        <result column="A01007_avg" property="a01007Avg" jdbcType="DOUBLE"/>
        <result column="A01006_avg" property="a01006Avg" jdbcType="DOUBLE"/>
        <result column="area" property="area" jdbcType="VARCHAR"/>
        <result column="a3400424Avg" property="a3400424Avg" jdbcType="DOUBLE"/>
        <result column="a3400224Avg" property="a3400224Avg" jdbcType="DOUBLE"/>
        <result column="a21026_iaqi" property="a21026Iaqi" jdbcType="DOUBLE"/>
        <result column="a21004_iaqi" property="a21004Iaqi" jdbcType="DOUBLE"/>
        <result column="a3400201_iaqi" property="a3400201Iaqi" jdbcType="DOUBLE"/>
        <result column="a3400224_iaqi" property="a3400224Iaqi" jdbcType="DOUBLE"/>
        <result column="a21005_iaqi" property="a21005Iaqi" jdbcType="DOUBLE"/>
        <result column="a0502401_iaqi" property="a0502401Iaqi" jdbcType="DOUBLE"/>
        <result column="a0502408_iaqi" property="a0502408Iaqi" jdbcType="DOUBLE"/>
        <result column="a3400401_iaqi" property="a3400401Iaqi" jdbcType="DOUBLE"/>
        <result column="a3400424_iaqi" property="a3400424Iaqi" jdbcType="DOUBLE"/>

    </resultMap>

    <select id="queryInfoByCompanyId"   resultMap="AirSireInfo">

        select a.mn,online_status,device_status,b.level,site_longitude,site_latitude,company_id,site_name,b.aqi,
              data_time,b.first_code,b.A3400401_avg,b.A3400201_avg,b.A21026_avg,b.A21004_avg,
                b.A0502401_avg,b.A0502408_avg,b.A21005_avg,b.A01001_AVG,b.A01002_AVG,b.A01007_AVG
               ,b.A01006_AVG,a.area,b.a3400424_Avg,b.A3400424_AVG,a3400224_Avg
        from site_monitor_point a left join airq_hour b on a.mn = b.MN
        where site_type = '3'
        and data_time=(select max(data_time) from site_monitor_point a left join airq_hour b on a.mn = b.MN
        where company_id in
        <foreach collection="companyIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        group by
        )
         and company_id in
          <foreach collection="companyIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    group by site_name
    </select>
    <select id="queryHourAirQuality"   resultMap="AirqHourQualityVo">

        select a.mn,b.level,company_id,site_name,b.aqi,
        b.data_time dataTime,b.first_code,b.A3400401_avg,b.A3400201_avg,b.A21026_avg,b.A21004_avg,
        b.A0502401_avg,b.A0502408_avg,b.A21005_avg,a.area,b.a3400424_Avg,b.A3400424_AVG
        ,b.a21026_Iaqi,b.a21004_Iaqi,b.a3400201_Iaqi,b.a3400224_Iaqi,
        b.a21005_Iaqi,b.a0502401_Iaqi,b.a0502408_Iaqi,b.a3400401_Iaqi,b.a3400424_Iaqi
        from site_monitor_point a left join airq_hour b on a.mn = b.MN
        where site_type = '3'  and
        b.data_time <![CDATA[ >= ]]> #{datatime}
        and b.data_time <![CDATA[ <= ]]> #{datatime2}
        and company_id in
        <foreach collection="companyIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        <if test="area != null and area!=''">
            and a.area = #{area}
        </if>
        <if test="mn != null and mn!=''">
            and a.mn = #{mn}
        </if>

    </select>
    <resultMap id="AirqHourMonitorVO" type="org.jeecg.modules.business.vo.AirqHourMonitorVO" >
        <result column="mn" property="mn" jdbcType="VARCHAR"/>
        <result column="area" property="area" jdbcType="VARCHAR"/>
        <result column="site_name" property="siteName" jdbcType="VARCHAR"/>
        <result column="aqi" property="aqi" jdbcType="DOUBLE"/>
        <result column="data_time" property="dataTime" jdbcType="TIMESTAMP"/>
        <result column="first_code" property="firstCode" jdbcType="VARCHAR"/>
        <result column="airLevel" property="airLevel" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="VARCHAR"/>
        <result column="A21026_avg" property="a21026Avg" jdbcType="DOUBLE"/>
        <result column="A21004_avg" property="a21004Avg" jdbcType="DOUBLE"/>
        <result column="A3400201_avg" property="a3400201Avg" jdbcType="DOUBLE"/>
        <result column="a3400224_avg" property="a3400224Avg" jdbcType="DOUBLE"/>
        <result column="A21005_avg" property="a21005Avg" jdbcType="DOUBLE"/>
        <result column="A0502401_avg" property="a0502401Avg" jdbcType="DOUBLE"/>
        <result column="A0502408_avg" property="a0502408Avg" jdbcType="DOUBLE"/>
        <result column="A3400401_avg" property="a3400401Avg" jdbcType="DOUBLE"/>
        <result column="a3400424_avg" property="a3400424Avg" jdbcType="DOUBLE"/>
        <result column="A01001_avg" property="a01001Avg" jdbcType="DOUBLE"/>
        <result column="A01002_avg" property="a01002Avg" jdbcType="DOUBLE"/>
        <result column="A01007_avg" property="a01007Avg" jdbcType="DOUBLE"/>
        <result column="A01006_avg" property="a01006Avg" jdbcType="DOUBLE"/>
        <result column="A01008_AVG" property="a01008Avg" jdbcType="INTEGER"/>
        <result column="meaning" property="meaning" jdbcType="VARCHAR"/>

    </resultMap>

    <select id="queryAirqHourMonitor" resultMap="AirqHourMonitorVO">
<!--        实时小时数据 -->

        select  b.id,a.mn,a.site_name,b.`level` as airLevel,b.level,a.area,b.aqi,
        b.data_time,b.first_code,
        b.a21026_avg,b.a21004_avg,b.a3400201_avg,b.a3400224_avg,
        b.a21005_avg,b.a0502401_avg,b.a0502408_avg,b.a3400401_avg,
        b.a3400424_avg,b.a01001_avg,b.a01002_avg,b.a01007_avg,b.a01006_avg,b.A01008_AVG

        from airq_hour b INNER JOIN(select a.mn,
        max(b.data_time) data_time
        from airq_hour b  left join site_monitor_point a on b.mn = a.mn
        WHERE b.state in (0) group by a.mn) c on b.mn = c.mn and b.data_time = c.data_time
        left join site_monitor_point a on  b.mn = a.mn
        WHERE b.state in (0)
        and a.company_id in
        <foreach collection="companyIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        <if test="area != null">
            and a.area = (#{area})
        </if>
        <if test="mn != null">
            and a.mn = (#{mn})
        </if>
        <if test="dateBegin != null">
            and b.data_time >= (#{dateBegin})
        </if>
        <if test="dateEnd != null">
            and b.data_time &lt;= (#{dateEnd})
        </if>
        order by b.aqi asc,b.data_time desc

    </select>

    <resultMap id="AirqHourInputVO" type="org.jeecg.modules.business.vo.AirqHourInputVO" >
        <result column="mn" property="mn" jdbcType="VARCHAR"/>
        <result column="area" property="area" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="INTEGER"/>
        <result column="site_name" property="siteName" jdbcType="VARCHAR"/>
        <result column="aqi" property="aqi" jdbcType="DOUBLE"/>
        <result column="data_time" property="dataTime" jdbcType="TIMESTAMP"/>
        <result column="first_code" property="firstCode" jdbcType="VARCHAR"/>
        <result column="airLevel" property="airLevel" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="VARCHAR"/>
        <result column="A21026_avg" property="a21026Avg" jdbcType="DOUBLE"/>
        <result column="A21004_avg" property="a21004Avg" jdbcType="DOUBLE"/>
        <result column="A3400201_avg" property="a3400201Avg" jdbcType="DOUBLE"/>
        <result column="a3400224_avg" property="a3400224Avg" jdbcType="DOUBLE"/>
        <result column="A21005_avg" property="a21005Avg" jdbcType="DOUBLE"/>
        <result column="A0502401_avg" property="a0502401Avg" jdbcType="DOUBLE"/>
        <result column="A0502408_avg" property="a0502408Avg" jdbcType="DOUBLE"/>
        <result column="A3400401_avg" property="a3400401Avg" jdbcType="DOUBLE"/>
        <result column="a3400424_avg" property="a3400424Avg" jdbcType="DOUBLE"/>
        <result column="A01001_avg" property="a01001Avg" jdbcType="DOUBLE"/>
        <result column="A01002_avg" property="a01002Avg" jdbcType="DOUBLE"/>
        <result column="A01007_avg" property="a01007Avg" jdbcType="DOUBLE"/>
        <result column="A01006_avg" property="a01006Avg" jdbcType="DOUBLE"/>
        <result column="A01008_AVG" property="a01008Avg" jdbcType="INTEGER"/>
        <result column="meaning" property="meaning" jdbcType="VARCHAR"/>

    </resultMap>

    <select id="queryAirqHourInput" resultMap="AirqHourInputVO">

        select  b.id,a.mn,a.site_name,b.`level` as airLevel,b.level,a.area,b.aqi,
        b.data_time,b.first_code,b.state,
        b.a21026_avg,b.a21004_avg,b.a3400201_avg,b.a3400224_avg,
        b.a21005_avg,b.a0502401_avg,b.a0502408_avg,b.a3400401_avg,
        b.a3400424_avg,b.a01001_avg,b.a01002_avg,b.a01007_avg,b.a01006_avg,b.A01008_AVG

        from airq_hour b INNER JOIN(select a.mn,
        max(b.data_time) data_time
        from airq_hour b  left join site_monitor_point a on b.mn = a.mn
        WHERE b.state in (3) group by a.mn) c on b.mn = c.mn and b.data_time = c.data_time
        left join site_monitor_point a on  b.mn = a.mn
        WHERE b.state in (3)
        and a.company_id in
        <foreach collection="companyIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        <if test="area != null">
            and a.area = (#{area})
        </if>
        <if test="mn != null">
            and a.mn = (#{mn})
        </if>
        <if test="dateBegin != null">
            and b.data_time >= (#{dateBegin})
        </if>
        <if test="dateEnd != null">
            and b.data_time &lt;= (#{dateEnd})
        </if>
        order by b.data_time desc

    </select>

    <resultMap id="AirqHourManInsertVO" type="org.jeecg.modules.business.vo.AirqHourManInsertVO" >
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="mn" property="mn" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="area" property="area" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="INTEGER"/>
        <result column="site_name" property="siteName" jdbcType="VARCHAR"/>
        <result column="aqi" property="aqi" jdbcType="DOUBLE"/>
        <result column="data_time" property="dataTime" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="first_code" property="firstCode" jdbcType="VARCHAR"/>
        <result column="airLevel" property="airLevel" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="VARCHAR"/>
        <result column="A21026_avg" property="a21026Avg" jdbcType="DOUBLE"/>
        <result column="A21004_avg" property="a21004Avg" jdbcType="DOUBLE"/>
        <result column="A3400201_avg" property="a3400201Avg" jdbcType="DOUBLE"/>
        <result column="a3400224_avg" property="a3400224Avg" jdbcType="DOUBLE"/>
        <result column="A21005_avg" property="a21005Avg" jdbcType="DOUBLE"/>
        <result column="A0502401_avg" property="a0502401Avg" jdbcType="DOUBLE"/>
        <result column="A0502408_avg" property="a0502408Avg" jdbcType="DOUBLE"/>
        <result column="A3400401_avg" property="a3400401Avg" jdbcType="DOUBLE"/>
        <result column="a3400424_avg" property="a3400424Avg" jdbcType="DOUBLE"/>
        <result column="A01001_avg" property="a01001Avg" jdbcType="DOUBLE"/>
        <result column="A01002_avg" property="a01002Avg" jdbcType="DOUBLE"/>
        <result column="A01007_avg" property="a01007Avg" jdbcType="DOUBLE"/>
        <result column="A01006_avg" property="a01006Avg" jdbcType="DOUBLE"/>
        <result column="A01008_AVG" property="a01008Avg" jdbcType="INTEGER"/>
        <result column="meaning" property="meaning" jdbcType="VARCHAR"/>

    </resultMap>

    <select id="queryAirqHourManInsert" resultMap="AirqHourManInsertVO">
        select t.* from
        (select b.id,a.mn,a.site_name,b.`level` as airLevel,b.level,a.area,b.aqi,b.content,
        b.data_time,b.create_time,t1.realname as createName,t2.realname as updateName,b.first_code,b.state,
        b.a21026_avg,b.a21004_avg,b.a3400201_avg,b.a3400224_avg,
        b.a21005_avg,b.a0502401_avg,b.a0502408_avg,b.a3400401_avg,
        b.a3400424_avg,b.a01001_avg,b.a01002_avg,b.a01007_avg,b.a01006_avg,b.A01008_AVG

        from airq_hour b INNER JOIN(select a.mn,
        max(b.data_time) data_time
        from airq_hour b left join site_monitor_point a on b.mn = a.mn
        WHERE b.state in (1,2,3,4) group by a.mn) c on b.mn = c.mn and b.data_time = c.data_time
        left join site_monitor_point a on b.mn = a.mn
        left join sys_user t1 on t1.id=b.create_by
        left join sys_user t2 on t2.id=b.update_by
        WHERE b.state in (1,2,3,4)
        and a.company_id in
        <foreach collection="companyIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>) t where 1=1
        <if test="area != null">
            and t.area = (#{area})
        </if>
        <if test="mn != null">
            and t.mn = (#{mn})
        </if>
        <if test="state != null">
            and t.state = (#{state})
        </if>
        <if test="dateBegin != null">
            and t.data_time >= (#{dateBegin})
        </if>
        <if test="dateEnd != null">
            and t.data_time &lt;= (#{dateEnd})
        </if>
        order by t.state asc,t.data_time desc

    </select>

    <resultMap id="AirqHourAuditVO" type="org.jeecg.modules.business.vo.AirqHourAuditVO" >
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="mn" property="mn" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="area" property="area" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="INTEGER"/>
        <result column="site_name" property="siteName" jdbcType="VARCHAR"/>
        <result column="aqi" property="aqi" jdbcType="DOUBLE"/>
        <result column="data_time" property="dataTime" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="first_code" property="firstCode" jdbcType="VARCHAR"/>
        <result column="airLevel" property="airLevel" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="VARCHAR"/>
        <result column="A21026_avg" property="a21026Avg" jdbcType="DOUBLE"/>
        <result column="A21004_avg" property="a21004Avg" jdbcType="DOUBLE"/>
        <result column="A3400201_avg" property="a3400201Avg" jdbcType="DOUBLE"/>
        <result column="a3400224_avg" property="a3400224Avg" jdbcType="DOUBLE"/>
        <result column="A21005_avg" property="a21005Avg" jdbcType="DOUBLE"/>
        <result column="A0502401_avg" property="a0502401Avg" jdbcType="DOUBLE"/>
        <result column="A0502408_avg" property="a0502408Avg" jdbcType="DOUBLE"/>
        <result column="A3400401_avg" property="a3400401Avg" jdbcType="DOUBLE"/>
        <result column="a3400424_avg" property="a3400424Avg" jdbcType="DOUBLE"/>
        <result column="A01001_avg" property="a01001Avg" jdbcType="DOUBLE"/>
        <result column="A01002_avg" property="a01002Avg" jdbcType="DOUBLE"/>
        <result column="A01007_avg" property="a01007Avg" jdbcType="DOUBLE"/>
        <result column="A01006_avg" property="a01006Avg" jdbcType="DOUBLE"/>
        <result column="A01008_AVG" property="a01008Avg" jdbcType="INTEGER"/>
        <result column="meaning" property="meaning" jdbcType="VARCHAR"/>

    </resultMap>

    <select id="queryAirqHourAudit" resultMap="AirqHourAuditVO">
        select t.* from
        (select b.id,a.mn,a.site_name,b.`level` as airLevel,b.level,a.area,b.aqi,b.content,
        b.data_time,b.create_time,t1.realname as createName,t2.realname as updateName,b.first_code,b.state,
        b.a21026_avg,b.a21004_avg,b.a3400201_avg,b.a3400224_avg,
        b.a21005_avg,b.a0502401_avg,b.a0502408_avg,b.a3400401_avg,
        b.a3400424_avg,b.a01001_avg,b.a01002_avg,b.a01007_avg,b.a01006_avg,b.A01008_AVG

        from airq_hour b INNER JOIN(select a.mn,
        max(b.data_time) data_time
        from airq_hour b left join site_monitor_point a on b.mn = a.mn
        WHERE b.state in (2,3,4) group by a.mn) c on b.mn = c.mn and b.data_time = c.data_time
        left join site_monitor_point a on b.mn = a.mn
        left join sys_user t1 on t1.id=b.create_by
        left join sys_user t2 on t2.id=b.update_by
        WHERE b.state in (2,3,4)
        and a.company_id in
        <foreach collection="companyIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>) t where 1=1
        <if test="area != null">
            and t.area = (#{area})
        </if>
        <if test="mn != null">
            and t.mn = (#{mn})
        </if>
        <if test="state != null">
            and t.state = (#{state})
        </if>
        <if test="dateBegin != null">
            and t.data_time >= (#{dateBegin})
        </if>
        <if test="dateEnd != null">
            and t.data_time &lt;= (#{dateEnd})
        </if>
        order by t.state asc,t.data_time desc

    </select>

</mapper>