<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.business.mapper.AirqDayMapper">
    <resultMap id="AirqVO" type="org.jeecg.modules.business.vo.AirqVO">
        <result column="value" property="value" jdbcType="NUMERIC"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="AirqDayQualityVo" type="org.jeecg.modules.business.vo.AirqDayQualityVo">
        <result column="mn" property="mn" jdbcType="VARCHAR"/>
        <result column="company_Id" property="companyId" jdbcType="VARCHAR"/>
        <result column="area" property="area" jdbcType="VARCHAR"/>
        <result column="site_Name" property="siteName" jdbcType="VARCHAR"/>
        <result column="data_Time" property="dataTime" jdbcType="TIMESTAMP"/>
        <result column="aqi" property="aqi" jdbcType="VARCHAR"/>
        <result column="first_Code" property="firstCode" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="VARCHAR"/>
        <result column="a21026_Avg" property="a21026Avg" jdbcType="DOUBLE"/>
        <result column="a21026_Iaqi" property="a21026Iaqi" jdbcType="DOUBLE"/>
        <result column="a21004_Avg" property="a21004Avg" jdbcType="DOUBLE"/>
        <result column="a21004_Iaqi" property="a21004Iaqi" jdbcType="DOUBLE"/>
        <result column="a3400224_Avg" property="a3400224Avg" jdbcType="DOUBLE"/>
        <result column="a3400224_Iaqi" property="a3400224Iaqi" jdbcType="DOUBLE"/>
        <result column="a21005_Avg" property="a21005Avg" jdbcType="DOUBLE"/>
        <result column="a21005_Iaqi" property="a21005Iaqi" jdbcType="DOUBLE"/>
        <result column="a0502401_Avg" property="a0502401Avg" jdbcType="DOUBLE"/>
        <result column="a0502401_Iaqi" property="a0502401Iaqi" jdbcType="DOUBLE"/>
        <result column="a0502408_Avg" property="a0502408Avg" jdbcType="DOUBLE"/>
        <result column="a0502408_Iaqi" property="a0502408Iaqi" jdbcType="DOUBLE"/>
        <result column="a3400424_Avg" property="a3400424Avg" jdbcType="DOUBLE"/>
        <result column="a3400424_Iaqi" property="a3400424Iaqi" jdbcType="DOUBLE"/>
    </resultMap>
    <select id="findEvaluate" parameterType="String" resultMap="AirqVO">
        SELECT
        COUNT( 1 ) as value,
        airq_level.level_grade as name,	airq_level.`level` AS level
        FROM
        airq_level
        LEFT JOIN airq_day ON airq_day.`LEVEL` = airq_level.`level`
        WHERE
        airq_day.MN IN (${mns})
        <if test="timeStart != null and  timeEnd !=null">
            AND DATA_TIME BETWEEN #{timeStart} AND #{timeEnd}
        </if>
        GROUP BY
        airq_day.`LEVEL`
        UNION all (select 0 as number ,level_grade,`level` from airq_level where level_grade not in (
        SELECT
        level_grade
        FROM
        airq_level
        LEFT JOIN airq_day ON airq_day.`LEVEL` = airq_level.`level`
        WHERE
        airq_day.MN IN (${mns})
        <if test="timeStart != null and  timeEnd !=null">
            AND DATA_TIME BETWEEN #{timeStart} AND #{timeEnd}
        </if>
        GROUP BY
        airq_day.`LEVEL`
        ))
        ORDER BY level
    </select>
    <select id="queryDayAirQuality"   resultMap="AirqDayQualityVo">

        select a.mn,
        company_Id,
        area,
        site_Name,
        data_Time,
        aqi,
        first_Code,
        level,
        a21026_Avg,
        a21026_Iaqi,
        a21004_Avg,
        a21004_Iaqi,
        a3400224_Avg,
        a3400224_Iaqi,
        a21005_Avg,
        a21005_Iaqi,
        a0502401_Avg,
        a0502401_Iaqi,
        a0502408_Avg,
        a0502408_Iaqi,
        a3400424_Avg,
        a3400424_Iaqi
        from site_monitor_point a left join airq_day b on a.mn = b.MN
        where site_type = '3'  and
        b.data_time <![CDATA[ >= ]]> #{datatime}
        and b.data_time <![CDATA[ <= ]]> #{datatime2}
        and company_id in
        <foreach collection="companyIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        <if test="area != null and area!=''">
            and a.area = #{area}
        </if>
        <if test="mn != null and mn!=''">
            and a.mn = #{mn}
        </if>

    </select>
</mapper>