<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.business.mapper.SysWarnLogMapper">

    <resultMap id="WarnLogVO" type="org.jeecg.modules.business.vo.WarnLogVO" >
        <result column="monitor_id" property="monitorId" jdbcType="VARCHAR"/>
        <result column="area" property="area" jdbcType="VARCHAR"/>
        <result column="site_name" property="siteName" jdbcType="VARCHAR"/>
        <result column="flag" property="flag" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="warn_time" property="warnTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="queryWarnLogInfo" resultMap="WarnLogVO">
        select b.area,b.site_name,a.flag,a.content,a.warn_time,a.monitor_id
        from sys_warn_log a left join site_monitor_point b on a.monitor_id = b.id
        WHERE b.company_id in
        <foreach collection="companyIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        <if test="area != null">
            and b.area = (#{area})
        </if>
        <if test="monitorId != null">
            and a.monitor_id = (#{monitorId})
        </if>
        <if test="flag != null">
            and a.flag = (#{flag})
        </if>
        <if test="dateBegin != null">
            and a.warn_time >= (#{dateBegin})
        </if>
        <if test="dateEnd != null">
            and a.warn_time &lt;= (#{dateEnd})
        </if>
        order by a.warn_time desc
    </select>
    <select id="exportWarnLogInfo" resultMap="WarnLogVO">
        select b.area,b.site_name,a.flag,a.content,a.warn_time,a.monitor_id
        from sys_warn_log a left join site_monitor_point b on a.monitor_id = b.id
        WHERE b.company_id in
        <foreach collection="companyIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        <if test="area != null">
            and b.area = (#{area})
        </if>
        <if test="monitorId != null">
            and a.monitor_id = (#{monitorId})
        </if>
        <if test="flag != null">
            and a.flag = (#{flag})
        </if>
        <if test="dateBegin != null">
            and a.warn_time >= (#{dateBegin})
        </if>
        <if test="dateEnd != null">
            and a.warn_time &lt;= (#{dateEnd})
        </if>
        order by a.warn_time desc
    </select>

    <select id="queryWarnInfo" resultType="Map">
        select b.site_name siteName,
        a.flag flag,
        a.content content,
        a.warn_time warnTime,
        a.monitor_id monitorId
        from sys_warn_log a left join site_monitor_point b on a.monitor_id = b.id
        WHERE b.company_id in
        <foreach collection="companyIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        <if test="monitorId != null and monitorId != ''">
            and a.monitor_id = (#{monitorId})
        </if>
        <if test="flag != null">
            and a.flag = (#{flag})
        </if>
        <if test="dateBegin != null">
            and a.warn_time >= (#{dateBegin})
        </if>
        <if test="dateEnd != null">
            and a.warn_time &lt;= (#{dateEnd})
        </if>
        order by a.warn_time desc
    </select>

    <select id="queryAppPie" resultType="Map">
        SELECT COUNT(1) siteNum,c.flag FROM (select flag,MAX(a.warn_time)
        from sys_warn_log  a left join site_monitor_point b on a.monitor_id = b.id
        WHERE b.company_id in
        <foreach collection="companyIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
         GROUP BY a.monitor_id) c GROUP BY c.flag
    </select>

    <select id="queryAppColumn" resultType="integer">
        SELECT COUNT(1) siteNum  FROM sys_warn_log  a left join site_monitor_point b on a.monitor_id = b.id
        WHERE b.company_id in
        <foreach collection="companyIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        AND
        a.warn_time >= (#{startTime})
        AND
        a.warn_time &lt;= (#{endTime})
    </select>

    <select id="queryAlarmInfo" resultType="Map">
        select b.site_name siteName,
        a.flag flag,
        a.content content,
        a.warn_time warnTime
        from sys_warn_log a left join site_monitor_point b on a.monitor_id = b.id
        WHERE b.company_id in
        <foreach collection="companyIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        order by a.warn_time desc
        limit 4
    </select>

    <select id="querySiteState" resultType="Map">
        SELECT
        COUNT( 1 ) AS siteNum,a.flag
        FROM
        sys_warn_log a
        LEFT JOIN site_monitor_point b ON a.monitor_id = b.id
        WHERE
        b.company_id IN
        <foreach collection="companyIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        AND warn_time >= (#{startTime})
        AND warn_time &lt; (#{endTime})
        GROUP BY
        flag UNION ALL
        (
        SELECT
        0 AS num,
        flag
        FROM
        sys_warn_log
        WHERE
        flag NOT IN (
        SELECT
        a.flag
        FROM
        sys_warn_log a
        LEFT JOIN site_monitor_point b ON a.monitor_id = b.id
        WHERE
        b.company_id IN
        <foreach collection="companyIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        AND warn_time >= (#{startTime})
        AND warn_time &lt; (#{endTime})
        GROUP BY
        flag
        )
        GROUP BY
        flag
        )
        ORDER BY
        flag
    </select>
    <select id="querySiteNum" resultType="Map">
        SELECT
        a.monitor_id
        FROM
        sys_warn_log a
        LEFT JOIN site_monitor_point b ON a.monitor_id = b.id
        WHERE
        b.company_id IN
        <foreach collection="companyIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        AND warn_time >= (#{startTime})
        AND warn_time &lt; (#{endTime})
        GROUP BY a.monitor_id
    </select>

</mapper>