.subtitle-gradient{
  width:100%;
  height:10%;
  background:linear-gradient(92deg,rgba(8,37,183,1),rgba(1,180,255,1));
  opacity:0.7;
}
.subtitle-gradient>span{
  font-weight:400;
  color: #ffffff;
  vertical-align:middle;
  margin-left: 10%;
}
.container {
  /*background-color: rgb(3, 12, 59);*/
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('~@/assets/bg.png')   no-repeat 50%;

}

