<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.business.mapper.SiteMonitorPointMapper">
    <resultMap id="SiteMonitorPointVO" type="org.jeecg.modules.business.vo.SiteMonitorPointVO" >
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="site_name" property="siteName" jdbcType="VARCHAR"/>
        <result column="site_code" property="siteCode" jdbcType="VARCHAR"/>
        <result column="site_type" property="siteType" jdbcType="VARCHAR"/>
        <result column="company_id" property="companyId" jdbcType="VARCHAR"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
        <result column="site_level" property="siteLevel" jdbcType="VARCHAR"/>
        <result column="area" property="area" jdbcType="VARCHAR"/>
        <result column="location" property="location" jdbcType="VARCHAR"/>
        <result column="site_longitude" property="siteLongitude" jdbcType="VARCHAR"/>
        <result column="site_latitude" property="siteLatitude" jdbcType="VARCHAR"/>
        <result column="is_net" property="isNet" jdbcType="VARCHAR"/>
        <result column="site_state" property="siteState" jdbcType="VARCHAR"/>
        <result column="direction" property="direction" jdbcType="VARCHAR"/>
        <result column="let_law" property="letLaw" jdbcType="VARCHAR"/>
        <result column="water_type" property="waterType" jdbcType="VARCHAR"/>
        <result column="export_height" property="exportHeight" jdbcType="VARCHAR"/>
        <result column="export_bore" property="exportBore" jdbcType="VARCHAR"/>
        <result column="max_flow" property="maxFlow" jdbcType="VARCHAR"/>
        <result column="export_cross" property="exportCross" jdbcType="VARCHAR"/>
        <result column="exit_type" property="exitType" jdbcType="VARCHAR"/>
        <result column="surface_type" property="surfaceType" jdbcType="VARCHAR"/>
        <result column="noise_type" property="noiseType" jdbcType="VARCHAR"/>
        <result column="linkman" property="linkman" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="sign_type" property="signType" jdbcType="VARCHAR"/>
        <result column="imorex" property="imorex" jdbcType="VARCHAR"/>
        <result column="mn_code" property="mnCode" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getSiteMonitorPointList" parameterType="String"  resultMap="SiteMonitorPointVO">
         SELECT t1.id,t1.site_name,t1.company_id,t1.site_code,t1.imorex,t1.site_level,site_longitude,t1.location,t1.area,t1.mn_code,t1.site_type,
                t1.site_state,t1.is_net, t1.direction,t1.let_law,t1.site_latitude,t1.water_type,t1.export_height,t1.export_bore,t1.max_flow,
                t1.export_cross,t1.exit_type,t1.surface_type,t1.surface_type,t1.linkman,t1.phone,t1.sign_type,t2.company_name
         FROM
         site_monitor_point t1, company_base t2
         WHERE
         t1.company_id=t2.id
        <if test="siteType != null">
            and t1.site_type = #{siteType}
        </if>
        <if test="siteState != null">
            and t1.site_state = #{siteState}
        </if>
        <if test="siteName != null">
            and t1.site_name LIKE CONCAT(CONCAT('%', #{siteName}), '%')
        </if>
        <if test="companyId != null">
            and t1.company_id = #{companyId}
        </if>
        <if test="siteLevel != null">
            and t1.site_level = #{siteLevel}
        </if>
        <if test="area != null">
            and t1.site_state = #{area}
        </if>
        <if test="mnCode != null">
            and t1.mn_code = CONCAT(CONCAT('%', #{mnCode}), '%')
        </if>
    </select>

    <select id="getSiteMonitorPoint" parameterType="String"  resultType="org.jeecg.modules.business.entity.SiteMonitorPoint">
        select * from site_monitor_point  where  id in (
        SELECT monitor_id FROM `sys_warn_user_point`
        where warn_userid = (#{warnUserid}) )
    </select>

</mapper>