<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.business.mapper.VocDayMapper">

    <select id="queryCompanyName"    resultType="Map">
        select
        company_id companyId,
        company_name companyName,
        administrative_region area
        from company_baseinfo a LEFT JOIN company_base b on a.company_id=b.id
        where a.`status`='2' and company_id IN
        <foreach collection="companyIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

</mapper>