<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.business.mapper.VocMinuteMapper">

    <select id="queryMinute"  resultType="Map">
        select A.id,company_name,data_time,B.mn,B.site_name,${field} from ${tableName}  A
        inner join (select M.*,N.MN,N.site_name from (
        select company_id,company_name from company_base A inner join company_baseinfo B
        on A.id = B.company_id AND B.status ='2' where company_id in
        <foreach collection="companyIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        <if test="area != null and area!=''">
            and area = #{area}
        </if>

        )  M
        INNER JOIN site_monitor_point N
        ON M.company_id = N.company_id
        where 1=1
        <if test="mn != null and mn!=''">
            and mn = #{mn}
        </if>
        ORDER BY company_id
        )B ON A.MN = B.MN
        where A.data_time <![CDATA[ <= ]]> #{end} and A.data_time <![CDATA[ >= ]]> #{begin}
    </select>
    <select id="queryMaxMinute"  resultType="Map">
        select A.id,company_name,C.data_time,B.mn,B.site_name,${field} from ${tableName}  A
        inner join (select M.*,N.MN,N.site_name from (
        select company_id,company_name from company_base A inner join company_baseinfo B
        on A.id = B.company_id AND B.status ='2' where company_id in
        <foreach collection="companyIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        <if test="area != null and area!=''">
            and area = #{area}
        </if>
        )  M
        INNER JOIN site_monitor_point N
        ON M.company_id = N.company_id
        where 1=1
        <if test="mn != null and mn!=''">
            and mn = #{mn}
        </if>
        ORDER BY company_id
        )B ON A.MN = B.MN
        inner join (select max(DATA_TIME) DATA_TIME,mn from ${tableName} group by mn) C
        ON A.MN = C.MN and A.DATA_TIME = C.DATA_TIME
    </select>

</mapper>