<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.business.mapper.WarnLogMapper">

    <resultMap id="RealTimeWarn" type="org.jeecg.modules.business.vo.RealTimeWarn" >
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
        <result column="site_name" property="siteName" jdbcType="VARCHAR"/>
        <result column="warn_time" property="warnTime" jdbcType="TIMESTAMP"/>
        <result column="meaning" property="meaning" jdbcType="VARCHAR"/>
        <result column="warn_type" property="warnType" jdbcType="VARCHAR"/>
        <result column="warn_level" property="warnLevel" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>

    </resultMap>


    <select id="queryWarn"  resultMap="RealTimeWarn">

        SELECT b.company_name,c.site_name,a.id,a.WARN_TYPE,d.meaning,a.WARN_LEVEL,a.CONTENT,a.WARN_TIME
        from warn_log a left join company_base b on a.COMPANY_ID=b.id
        left join site_monitor_point c on a.MN=c.mn
        left join sys_pollution_code d on d.type=#{type} and a.code=d.code
        where a.TYPE=#{type} and a.company_id in
        <foreach collection="companyIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        <if test="area != null and area!='' and (companyId = null or companyId = '')">
            and a.company_id in (select N.company_id from company_baseinfo N WHERE N.status='2' and N.administrative_region=#{area} and N.company_id in
            <foreach collection="companyIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
            </foreach>)
        </if>
        <if test="mn != null and mn!=''">
            and a.mn = #{mn}
        </if>
        <if test="warnType != null and warnType!=''">
            and a.warn_type = #{warnType}
        </if>
        <if test="begin != null and end != null">
            and a.warn_time <![CDATA[ <= ]]> #{end} and a.warn_time <![CDATA[ >= ]]> #{begin}
        </if>

    </select>

</mapper>