<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.business.mapper.CompanyAdminPenaltiesMapper">
    <resultMap id="CompanyAdminPenaltiesVO" type="org.jeecg.modules.business.vo.CompanyAdminPenaltiesVO" >
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="company_id" property="companyId" jdbcType="VARCHAR"/>
        <result column="report_date" property="reportDate" jdbcType="TIMESTAMP"/>
        <result column="document_no" property="documentNo" jdbcType="VARCHAR"/>
        <result column="document_name" property="documentName" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
        <result column="createName" property="createName" jdbcType="VARCHAR"/>
        <result column="updateName" property="updateName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getCompanyAdminPenalties" parameterType="String"  resultMap="CompanyAdminPenaltiesVO">
        SELECT
        t1.*,
        t2.company_name,
        t3.realname as createName,
        t4.realname as updateName
        FROM
        company_admin_penalties t1
        LEFT JOIN company_base t2 ON t1.company_id = t2.id
        LEFT JOIN sys_user t3 ON t1.create_by=t3.id
        LEFT JOIN sys_user t4 ON t1.update_by=t4.id
        where 1=1
        <if test="companyId != null">
            and t2.id in (#{companyId})
        </if>
        <if test="status != null">
            and status in (#{status})
        </if>
        <if test="companyName != null">
            and company_name like concat('%',#{companyName},'%')
        </if>
        <if test="dateBegin != null">
            and report_date >= (#{dateBegin})
        </if>
        <if test="dateEnd != null">
            and report_date &lt;= (#{dateEnd})
        </if>
    </select>
</mapper>