<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.business.mapper.CompanyDynamicSupervisionMapper">
    <resultMap id="CompanyDynamicSupervisionVO" type="org.jeecg.modules.business.vo.CompanyDynamicSupervisionVO" >
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="company_id" property="companyId" jdbcType="VARCHAR"/>
        <result column="report_year" property="reportYear" jdbcType="VARCHAR"/>
        <result column="document_type" property="documentType" jdbcType="VARCHAR"/>
        <result column="document_name" property="documentName" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
        <result column="createName" property="createName" jdbcType="VARCHAR"/>
        <result column="updateName" property="updateName" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="getCompanyDynamicSupervision" parameterType="String"  resultMap="CompanyDynamicSupervisionVO">
        select t1.*,t2.company_name,t3.realname as createName ,t4.realname as updateName
        from
        company_dynamic_supervision t1
        left join company_base t2 on t2.id=t1.company_id
        left join sys_user t3 on t3.id=t1.create_by
        left join sys_user t4 on t4.id=t1.update_by
        where  t2.id in
        <foreach collection="companyIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        <if test="status != null">
            and t1.status in (#{status})
        </if>
        <if test="status == null and listType ==0">
            and t1.status = '2'
        </if>
        <if test="status == null and listType ==1">
            and t1.status in ('0','1','3')
        </if>
        <if test="status == null and listType ==2">
            and t1.status ='1'
        </if>
        <if test="reportYear != null">
            and t1.report_year = (#{reportYear})
        </if>
	</select>
</mapper>